body {
    background-color: #F0F8FF;
}

a:visited {
    color: #0000ED;
}

.text {
    font-size: 16px;
}

.b-navigation {
    width: 120px;
}

.b-navigation ul {
    list-style-type: none;
    padding-left: 10px;
}
