body {
    margin: 5% auto;
    text-align: center;
    width: 50%;
}

input[type=text], input[type=password] {
    display: block;
    margin: 5px auto;
    border-radius: 5px;
    height: 23px;
    width: 210px;
    text-align: center;
}

input[type=submit] {
    background: none !important;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
}

input[type=submit]:focus {
    outline: none;
}

input[type=submit] {
    color: #0000ED;
}

input.error {
    box-shadow: 0 0 5px rgba(255, 0, 0, 1);
}

input.error:focus {
    outline: 0;
}

label.error {
    color: red;
}
